<!DOCTYPE html>
<html>

<head>
  <title>lost</title>
  <link rel="stylesheet" type="text/css" href="/forum.css">
  <link rel="stylesheet" href="/found.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  

    <div class="wrapper">
      <%- include('partials/head'); %>
        <div class="main_content">
            <div class="header">IIITA Lost Portal.</div> 
            <h2>What You Have Lost?</h2>
            <div class="post" style="margin-top:5px;">
              <div class="form-group" style="margin-left: 20%;margin-right: 20%;"  >
                  <form action="/create?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                      <label for="title" >Title</label>
                      <input type="text" name="title" class="form-control form-control" id="title">
        
                      <div class="form-group" hidden="hidden">
                          <label for="cat" >Category:</label>
                          <select class="form-control" id="cat" name="category">
                              <option>Lost</option>
                          </select>
                      </div>
        
                      <label for="content" >Description:</label>
                      <br>
                      <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                      <label class="form-label" for="image">choose</label>
                       <input type="file" class="form-control" id="image" name="file" accept="image/*" />
                      <br>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                      <button type="submit" class="btn btn-primary" style="margin-top: 1%; margin-bottom: 1%;">post</button>
        
                    </form>
                    
                </div> 
           </div>
           <% for(let i=lost.length-1; i>=0;i-=3){%>
            <div class="container">
              <div class="row">
                <% if(i>=0){%>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-image">
                        <img class="img-responsive" src="/uploads/lost[i].image">
                        <span class="card-title">
                          <%=lost[i].title %>
                        </span>
                      </div>
  
                      <div class="card-content">
                        <p>
                          <%= lost[i].content %>
                        </p>
                      </div>
  
                      <div class="card-action">
                        <a href="/singleBlog/<%=lost[i].id %>" target="new_blank">Read More</a>
                      </div>
                    </div>
                  </div>
                  <%}%>
                    <% if(i-1>=0){%>
                      <div class="col-sm-4">
                        <div class="card">
                          <div class="card-image">
                            <img class="img-responsive" src="/uploads/lost[i-1].image">
                            <span class="card-title"><%=lost[i-1].title %></span>
                          </div>
  
                          <div class="card-content">
                            <p>
                              <%= lost[i-1].content %>
                            </p>
                          </div>
  
                          <div class="card-action">
                            <a href="/singleBlog/<%=lost[i-1].id %>" target="new_blank">Read More</a>
                          </div>
                        </div>
                      </div>
                      <%}%>
                        <% if(i-2>=0){%>
                          <div class="col-sm-4">
                            <div class="card">
                              <div class="card-image">
                                <img class="img-responsive" src="/uploads/lost[i-2].image">
                                <span class="card-title"><%=lost[i-2].title %></span>
                              </div>
  
                              <div class="card-content">
                                <p>
                                  <%= lost[i-2].content %>
                                </p>
                              </div>
  
                              <div class="card-action">
                                <a href="/singleBlog/<%=lost[i-2].id %>" target="new_blank">Read More</a>
                              </div>
                            </div>
                          </div>
                          <% } %>
                          
              </div>
              <%}%>
            <footer style="margin-bottom:2%;margin-top:2%; text-align: center;">
              <p>&copy;  <h2>About Us</h2>
                <p>Email: admin@sharewith.com</p>
                <p>contact No: (+91)933-6842-211</p>.</p>
            </footer>
        </div>
        
    </div>

    
</body> 